* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.APP {
  background-color: #2e3131;
  color: #fff;
}
.card {
  width: 15rem;
  height: 12rem;
}
.cardStack {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
